* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

root,
html {
    font-family: Arial, Helvetica, sans-serif;
}

main,
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

h1 {
    text-align: center;
    margin: 2rem;
}

h2:not(article h2) {
    text-align: center;
    margin: 2rem 0 0 0;
}